@use '../abstracts' as *;

#smarter {
    padding: 0 24px;
    display: grid;
    gap: 16px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 64px;
    @include respond(small, min) {
        padding: 0;
        max-width: 572px;
        margin: 0 auto;
        gap: 24px;
        margin-top: 104px;
        margin-bottom: 40px;
    }
    @include respond(large, min) {
        max-width: 540px;
        margin: unset;
        text-align: left;
    }
}

