// COLOR PALETTE
$blue-dark: #5175FF;
$blue-light: #829CFF;
$grey-dark: #25293A;
$grey-medium: #333950;
$grey-light: #747B95;
$red: #F05B5B;
$white: #ffffff;

// SEMANTIC VALUES
$clr-error: $red;
$clr-body-light: $grey-light;
$clr-body-medium: $grey-medium;
$clr-white: $white;
$clr-heading-dark: $grey-dark;
$clr-blue-dark: $blue-dark;
$clr-blue-light: $blue-light;
$clr-card-heading: $grey-medium;
